<h1>Sign Up</h1>

<form action="<%=  users_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
    <input id="username"
           type="text"
           value="<%= @user.username %>"
           name="user[username]">

  <label for="password">Password</label>
    <input id="password"
          type="password"
          name="user[password]">

  <input type="submit" value="Sign Up">

</form>