<form action="<%= user_goals_url(user) %>" method="POST">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="goal_title">Title</label>
  <input type="text"
          name="goal[title]"
          value="<%= goal.title %>"
          id="goal_title">


  <label for="goal_body">Description</label>
  <input type="text"
          name="goal[body]"
          value="<%= goal.body %>"
          id="goal_body">

  <input type="submit" value="Create Goal">

</form>