<nav>

  <logo>
    <%= render "layouts/sign_in_status" %>
  </logo>

  <ul class="group">
    <li><a href="
      <%= user_url(current_user) if signed_in? %>">Home</li></a>
    <li><a href="<%= users_url %>">Users</li></a>
    <li><a href="<%= goals_url %>">Goals</li></a>
  </ul>

</nav>
