<% if signed_in? %>
  <h1 class="group"><%= current_user.username %></h1>
  <form action="/session" method="POST">
    <input type="hidden" name="_method" value="delete">

    <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

    <input type="submit" value="Logout">

  </form>

<% else %>

  <login>
    <a href="<%= new_session_url %>">Come Back!</a>
    <a href="<%= new_user_url %>">Join Us!</a>
  </login>

<% end %>

