<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= csrf_meta_tags %>

  <style>

  html, body, ul, li, a, p, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
  }

  body {
    font-family: sans-serif;
    background: lightgreen;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  nav {
    margin: auto;
    float: left;
    background: darkorange;
    display: block;
    width: 100%;
  }

  li {
    list-style: none;
  }

  nav ul  {
    display: block;
    float: right;
  }

  nav li {
    display: block;
    border-left: 5px dotted blue;
    float: left;
  }

  nav a {
    display: block;
    padding: 20px;
    color: lightyellow;
    text-decoration: none;
  }

  nav a:hover {
    background: black;
  }

  logo {
    display: block;
    float:left;
  }

  logo h1 {
    padding: 5px;
  }

  form input[type="submit"] {
    border: 0;
    padding: 20;
    color: black;
    background: yellow;
  }

  form input[type="submit"]:hover {
    background: black;
    color: darkorange;
  }

  login a {
    display: block;
    float: left;
    border-right: 5px dotted green;
  }

  login a:hover {
    background: yellow;
    color: darkgreen;
  }

  </style

</head>
<body>


  <%= render "layouts/nav_header" %>
  <br>
  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
      <ul>
        <li><%= error %></li>
      </ul>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
